.nav-link{
    color: rgb(255,255,255);
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    transition-duration: .3s;
}

.nav-link:hover{
    color: rgb(194, 12, 12);
}

.navbar-brand{
    color: rgb(255,255,255);
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
}

.navbar-brand:hover{
    color: rgb(255,255,255);
}

.bg-black{
    background-color: rgb(0,0,0);
}

.form-control{
    font-family: 'Poppins', sans-serif;
}

.slogan{
    position: relative;
    background-image: url('../images/comprimida 2.jpg');
    height: 400px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
#carouselExampleControls .carousel-item{
    height: 500px;
    
}
.titulo{
  
    color: black;
    margin-bottom: 20px; 
    text-align: center;
}
.detalles .img-fluid{
    height: 450px;
    text-align: center;
}
.detalles .text-justify{
    margin-top: 70px;
}
.slogan{
   color: white; 
}
.vision-mision img{
    height: 550px;
    
}
.navbar-toggler {
    border-color: rgb(255,255,255);
} 
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}