.slogan{
    position: relative;
    background-image: url('../images/comprimida 2.jpg');
    height: 400px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
#carouselExampleControls .carousel-item{
    height: 500px;
    
}
.titulo{
  
    color: black;
    margin-bottom: 20px; 
    text-align: center;
}
.detalles .img-fluid{
    height: 450px;
    text-align: center;
}
.detalles .text-justify{
    margin-top: 70px;
}
.slogan{
   color: white; 
}
.vision-mision img{
    height: 550px;
    
}
.navbar{
    height: 65px;
}
.formulario-admin .img-fluid{
    height: 100px;
}

